<h2 class="text-center mt-3 d-flex flex-column align-items-center">
    <i class="bi bi-door-open fs-1" style="width: fit-content; color: #3c096c;"></i>
    Log in to continue
</h2>
<div class="d-flex mt-4 gap-2 shadow bg-body-tertiary border border-3 border-light-subtle" style="height: 350px;">
    <form class="col-6 d-flex flex-column align-items-center justify-content-center">
        <div class="form-floating mb-3 col-6">
            <input type="text" class="form-control" id="floatingInput" placeholder="Your username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3 col-6">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="btn bg-purple text-white" type="submit">Login</button>
    </form>
    <div class="border-start" style="height: 100%"></div>
    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
        <a class="icon-link col-6" href="#" style="text-decoration: none;">
            <button type="button" class="btn w-100 fs-4 bg-purple text-white" style="height: 60px;">
                <i class="bi bi-pencil-square fs-4"></i>
                Sign up
            </button>
        </a>
    </div>    
</div>


