<h2 class="text-center mt-3 d-flex flex-column align-items-center">
    <i class="bi bi-cup-hot-fill fs-1" style="width: fit-content; color: #6B4C35;"></i>
    Write something
</h1>
<div class="d-flex gap-3">
    <div class="col-9 shadow-sm card" style="height: 450px;">
        <div class="card-body">
            <h4>Chat:</h4>
            <div>
                <p>Message</p>
                <p>Message</p>
                <p>Message</p>
                <p>Message</p>
                <p>Message</p>

            </div>
        </div>
        
    </div>
    <div class="col-3 card p-2 shadow-sm">
        <ul class="list-group card-body">
            <li class="list-group-item active" aria-current="true">Home</li>
            <li class="list-group-item">Messages</li>
            <li class="list-group-item">Friends</li>
        </ul>
    </div>
</div>

