<h2 class="text-center mt-3 d-flex flex-column align-items-center">
    <i class="bi bi-cup-hot-fill fs-1" style="width: fit-content; color: #6B4C35;"></i>
    Write something
</h2>
<div class="d-flex gap-3">
    <div class="col-9 shadow-sm card" style="height: 450px;">
        <div class="card-body position-relative">
            <h4>Chat:</h4>
            <div>
                <%= render @messages %>
            </div>
            <div class="extra-content position-absolute bottom-0 p-3 w-100">
                <%= form_for(@message, html: {class: "", role: "form"}, url: message_path) do |f| %>
                    <div class="input-group flex-nowrap pe-3">
                        <%= f.text_field :body, class: "form-control", placeholder: "Type a message..." %>
                        <%= f.button '<i class="bi bi-send input-group-text" style="color: #3c096c;"></i>'.html_safe %>
                    </div>
                <% end %>
            </div>
        </div>
        
    </div>
    <div class="col-3 card p-2 shadow-sm">
        <ul class="list-group card-body">
            <li class="list-group-item active" aria-current="true">Home</li>
            <li class="list-group-item">Messages</li>
            <li class="list-group-item">Friends</li>
        </ul>
    </div>
</div>

